@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark,.dark *));
*{
  font-family: "Outfit", sans-serif;
}
@theme{
  --color-primary: #141414;
}
::-webkit-scrollbar{
  display: none;
}
* {
  scrollbar-width: none;
}
* {
  -ms-overflow-style: none;
}

.reset-tw:not(pre):not(code){
  all:revert;
}
.dark .reset-tw:not(pre):not(code) {
  color: #fff;
}



